/*
 * Copyright (c) 2018. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 * Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 * Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 * Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 * Vestibulum commodo. Ut rhoncus gravida arcu.
 */

body, html {
    height: 100%;
}

#main, #wrapper {

    height: 100%;
}

#main .main {

    height: 100%;
}

.commandform > thead > tr > th, .commandform > tbody > tr > th, .commandform > tfoot > tr > th, .commandform > thead > tr > td, .commandform > tbody > tr > td, .commandform > tfoot > tr > td {

    border: 0;
}

commandform{

}