/*
 * Copyright (c) 2018. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 * Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 * Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 * Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 * Vestibulum commodo. Ut rhoncus gravida arcu.
 */

#echart {
    position: absolute;
    bottom: 20px;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}

#echart .dataCount,
#echart .areaPie,
#echart .countLine,
#echart .warnCount {
    width: 320px;
    height: 220px;
    padding: 10px;
    float: left;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.98);
    border: #008fbf 1px solid;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    border-radius: 4px;
}


#echart .closeBtn {
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
    background-image: url("../images/close-blue.png");
    position: absolute;
    top: -6px;
    right: -6px;
    cursor: pointer;
}

#echart .areaPie {
    width: 480px;
}

#echart .areaPie #areaPieEchart {
    width: 460px;
    height: 200px;
}

#echart .countLine {
    width: 620px;
}


#echart .countLine #countLineEchart {
    width: 600px;
    height: 200px;
}


#echart .dataCount {

    width: 420px;
    padding: 0;
    border: none;
    background-color: whitesmoke;

}


#echart .dataCount li {
    width: 208px;
    height: 108px;
    float: left;
}

#echart .dataCount li {
    background-color: #1f7bb6;
    color: whitesmoke;
    text-align: center;
    font-size: 2em;
    display: block;
    font-weight: 300;
    padding: 15px;
    margin: 1px;
}

#echart .dataCount li:nth-child(2) {

    background-color: #27b6af;
}

#echart .dataCount li:nth-child(3) {

    background-color: lightpink;
}

#echart .dataCount li:nth-child(4) {

    background-color: lightcoral;
}

#echart .dataCount li span {

    font-size: 12px;
    display: block;
    width: 100%;
    height: 40px;
}


#echart .warnCount {
    width: 380px;
}
