﻿/*
 *
 *  * Copyright (C) 2017.
 *  * 用于JAVA项目开发
 *  * 重庆英卡电子有限公司 版权所有
 *  * Copyright (C)  2017.  CqingWo Systems Incorporated. All rights reserved.
 *
 */

@charset "utf-8";
*{ margin:0;padding:0;}
html { overflow-y: scroll; }
* html body{ overflow:visible;}
body{ font:12px/22px 'Microsoft Yahei',Verdana,Arial,sans-serif,"Times New Roman"; word-wrap:break-word; }
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:0; padding:0;}
input,select{ font-size:12px; vertical-align:middle;}
body div{ text-align:left;}
table{ border:0px; border-collapse:collapse; border-spacing:0px;}
th td{padding:0px;}
textarea,input{ word-wrap:break-word; word-break:break-all; padding:0px;}
li{ list-style-type:none;}
img{ border:0 none;}
a:hover{ color:#9f0017;}
a:link, a:visited{ text-decoration:none; color:#000;}
a { outline:none;color:#000;}
h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
.hide{ display:none;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}

html body .rightH1 a.menuBT{ display:block; float:left; height:24px; color:#FFF; font-size:12px; line-height:24px; background:url(../images/bt_right.jpg) no-repeat right #2c617f; padding-right:14px; font-weight:normal; margin-left:5px;}
html body .menuBT img{ float:left; margin-right:3px;}

/*右侧Right*/
.rightH1{ border-bottom:2px solid #93aebf; font-size:12px; color:#135275; height:30px; line-height:30px; position:relative; margin-left:15px;}
.rightH1 div{font-size:14px; position:absolute; top:3px;*top:3px;_top:10px; right:0px;_right:5px;}
.rightH1 img{ width:32px; height:24px;}

.addTag { margin:2px 0 0 15px; height:25px; overflow:hidden; border-bottom:3px solid #016094;}
.addTag li{ float:left; height:26px; margin-right:25px; padding-left:12px; margin-left:-3px;}
.addTag li a{ padding:0 20px 0 10px;height:26px; line-height:30px; _float:left;_ line-height:26px;}
.addTag li.hot{ background:url(../images/tagbg-left.jpg) no-repeat left top;}
.addTag li.hot a{ display:block;  background:url(../images/tagbg.jpg) no-repeat right;color:#FFF; }


.addTable table td{ height:50px;}
.addTable table td .input{ padding:2px;}
.addTable table td .checkbox{ vertical-align:-3px;}
.addTable table td  .addBt img{ margin-top:20px;}
.addTable table td .tableTip{ color:red;}
.addTable table td .tableTip1{ color:#666;}

/*表格*/
.dataListSearch{ padding:2px 0 0 15px;}
#searchImg{width:22px; height:22px;}
.searchBut{ border-width:0px; margin-left:8px;}

.dataList{ padding-left:15px; margin-top:2px; text-align:left;}
.dataList table th{ background:#dbeffa; font-weight:normal; cursor:pointer;}
.dataList table th b{ color:#5e8da7; font-family:"宋体"; font-weight:normal; }
.dataList table td,.dataList table th{ padding:4px 0;}
.dataList table td{ border-bottom:1px solid #ececec;}
.dataList table td .dateSort{ width:35px; height:18px; text-align:center; line-height:18px; padding:0; border:1px solid #ececec; overflow:hidden;}

.dataListAdd{ width:500px; border:1px solid #d1d1d1; margin:10px 10px; padding:10px 10px;}
.dataListAdd table td{ height:36px;}
.dataListAdd table td .input{ padding:2px; height:18px;}

.selectedsortinput{ width:35px; height:18px; text-align:center; line-height:18px; padding:0; border:1px solid #ececec;cursor:pointer; overflow:hidden;}
.unselectedsortinput{ width:35px; height:18px; text-align:center; line-height:18px; padding:0; border:0px solid #ececec;cursor:pointer; overflow:hidden;}

a.editOperate,a.deleteOperate{ color:#007bc1;}
a.editOperate:hover,a.deleteOperate:hover{ color:#0e5983;}
.table_top,.table_bottom{ margin:16px 0px;}

/*分页*/
.batch{ cursor:pointer;}
.dataListEdit{ height:36px; line-height:36px; background:#f8f8f8; margin-left:15px; padding:0px 0px 0px 0px; position:relative;}
.dataListEdit .batch{ background:#1c587b; height:20px; line-height:20px; margin:8px 6px 8px 0px; color:#FFF; padding:0 10px; display:block; float:left;}
.page{ position:absolute; right:22px;_right:32px; top:0px;_top:6px;}
.page a.bt{ background:url(../images/bg.jpg) repeat-x; color:#000;}
.page a{ display:inline;  background:#FFF; width:20px; padding:1px 7px; border:1px solid #e9e9e9; margin-right:5px;}
.page .summary{ display:inline; padding:1px 4px 0 7px; margin-right:2px;}
.page input{ cursor:pointer; height:15px; padding:0; line-height:15px; font-size:11px; -webkit-text-size-adjust: none; margin-right:4px; margin-bottom:3px; text-align:center;}
.page a.hot,.page a:hover{ background:#5b83b4; color:#FFF;}

/*提示信息*/
.tip{ background:url(../images/tip.gif) no-repeat 35px 35px #FFF;
	width: 480px;
	min-height:150px;
	_height:150px;
	margin: 150px auto;
	padding:25px 25px 25px 40px;
	border:1px solid #e8e8e8;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 50%;
    margin-left: -290px;
    top: 50%;
    margin-top: -150px;
    border-radius: 6px;
	box-shadow:0 0 5px #ccc;
	}
.tip h3{ font-size:16px; color:#2c6892; padding-left: 20px; line-height: 45px;}
.tip p{ margin:5px 0; font-size:13px;line-height: 32px;}
.tip span{ margin:5px 0; line-height: 32px; color:#666;}
.tip a{ text-decoration:none; color:red;}
.tip a:before{content:"["}
.tip a:after{content:"]"}
.tip .loading{ margin:5px 0; line-height: 48px;}
.tip .loading>img{ margin-top: 10px; width: 480px;}

/*分类树*/
#categoryTree{ padding-left:15px; margin-top:15px; text-align:left;}
#categoryTree thead th{ background:#dbeffa; font-weight:normal; cursor:pointer;padding:4px 0; padding-left:10px;}
#categoryTree table tbody th{ text-align:left; font-weight:normal;}
#categoryTree table tbody th span{ display:inline-block; width:16px; height:16px; cursor:pointer;}

#categoryTree table tbody th span.open{ background:url(../images/tree_open.gif) no-repeat  center center;}
#categoryTree table tbody th span.close{ background:url(../images/tree_close.gif) no-repeat  center center;}

#categoryTree tbody td,#categoryTree tbody th{ border-bottom:1px solid #ececec; padding:4px 0; padding-left:10px;}
#categoryTree table tbody tr{ display:table-row;}

#categoryTree table tbody tr.tree1{ display:table-row;}

/*品牌,商品,配送公司选择*/
#selectUserBox,#selectShipCompanyBoxCon{ background:#FFF; width:730px; padding:10px; }
#selectProductBox{ background:#FFF; width:930px; padding:10px; }

#selectBrandBoxCon,#selectShipCompanyBoxCon{  width:730px; margin-top:6px; overflow:hidden; border-top:1px solid  #d1d1d1;}
#selectProductBoxCon{  width:930px; margin-top:6px; overflow:hidden; border-top:1px solid  #d1d1d1;}
#selectBrandBoxCon ul,#selectProductBoxCon ul,#selectShipCompanyBoxCon ul{ width:120%; padding:0px 0px 0px 2px; }
#selectUserBox ul li{ float:left; width:168px; margin:10px 12px 10px 0px; line-height:25px; overflow:hidden;}
#selectProductBox ul li{ float:left; width:448px; margin:10px 12px 10px 0px; line-height:25px; overflow:hidden;}
#selectShipCompanyBox ul li{ float:left; width:168px; margin:10px 12px 10px 0px; line-height:25px; overflow:hidden;}
#selectUserBox ul li a{ display:block; background:#d1d1d1; background:url(../images/bg.jpg) repeat-x bottom; border:1px solid #d1d1d1; text-indent:10px;width:154px; cursor: pointer;}
#selectProductBox ul li a{ display:block; background:#d1d1d1; background:url(../images/bg.jpg) repeat-x bottom; border:1px solid #d1d1d1; text-indent:10px;width:434px; cursor: pointer;}
#selectShipCompanyBox ul li a{ display:block; background:#d1d1d1; background:url(../images/bg.jpg) repeat-x bottom; border:1px solid #d1d1d1; text-indent:10px;width:154px; cursor: pointer;}
#selectUserBox ul li a:hover,#selectProductBox ul li a:hover,#selectShipCompanyBox ul li a:hover{ border:1px solid #19597d; color:#19597d;}

#selectProductBox #selectProductTitle div{ float:left; height:20px; line-height:20px; margin:6px 2px 2px 2px;}

#selectUserBox .page,#selectProductBox .page,#selectShipCompanyBox .page{ text-align:center; padding:10px 0px;}

.selectBoxProgressBar{ width:750px; height: 180px;overflow:hidden; position:relative;display:table-cell;text-align:center;	vertical-align:middle}
.selectBoxProgressBar p{position:static;+position:absolute;	top:50%}
.selectBoxProgressBar img{position:static;+position:relative;top:-50%;left:-50%;}

/*仿下拉框按钮*/
.selectBt{ float:left; background:url(../images/selectbg.gif) repeat-x center center; height:20px;cursor:pointer; border:1px solid #bec7d4; }
.selectBt input{ background:url(../images/selectbgico.gif) no-repeat 6px center; border:0; height:20px; line-height:22px; text-align:left; padding-left:22px; padding-right:10px;}
.indexAttribute{margin-top:6px;}
.selectedBrandItem{margin: 12px 16px 6px 0px; padding:0px 3px 0px 3px; border: 1px solid #0e5983;text-align: center;line-height:18px;cursor: pointer;float: left;}
.selectedBrandItem span{ display:inline-block; float:left;}
.selectedBrandItem img{ margin-left:2px; display:inline-block;float:left;}

/*底部*/
#bottom{width:100%;position: fixed;bottom: 0; background:url("../images/barand1.png") repeat; color:#FFF; text-align:center;line-height:1.2em; padding-top:10px; padding-bottom:10px;}

/*验证*/
.field-validation-error { color: #ff0000;}
.field-validation-valid { display: none;}
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee;}
.validation-summary-errors { font-weight: bold; color: #ff0000;}
.validation-summary-valid { display: none;}

/*表单*/
.AddOrRemoveBlock{color:red;font-size:14px;cursor:hand;}
.dataListSearch select {padding:3px;}
.dataListSearch input[type="button"], .dataListSearch input[type="submit"], .dataListSearch input[type="reset"] {
	border:none;
	border-right:1px solid #ACACAC;
	border-bottom:1px solid #ACACAC;
	background-color:#F1F8B4;
	padding:2px;
	padding-right:5px;
	padding-left:5px;
	background:url(../images/allbtbg2.gif) #EFF7D0;
	cursor:pointer;
}
.dataListSearch input[type="text"], .dataListSearch input[type="password"] {
	border-width:1px;
	border-style:solid;
	border-color:#707070 #CECECE #CECECE #707070;
	padding:2px 4px;
	height:18px;
	line-height:18px;
	vertical-align:middle;
}
.dataListSearch input[type="text"]:focus, .dataListSearch input[type="password"]:focus {
	border-color:#A5C760;
	color:#333;
	-moz-box-shadow:0 0 3px #A5C760;
	-webkit-box-shadow:0 0 3px #A5C760;
	box-shadow:0 0 3px #A5C760;
	outline:none;
}

/*省市县*/
.provinceSelect,.citySelect,.countySelect{ padding:2px;}

/*上传*/
.upload{ }
.uploadPreview{ float:left; margin-right:1px; border:1px solid #cfcfcf; width:88px; height:88px; line-height:88px; text-align:center; }
.uploadPreview img { width:88px; height:88px; }
.uploadProgressBar{ height:48px; }
.uploadBut{ }